*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #edeaff;
}
.stopwatch{
    width: 90%;
    max-width: 600px;
    background: #4e4249;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    margin: 200px auto 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.8);
}

.stopwatch h1{
    margin-top: 60px;
    font-size: 64px;
    font-weight: lighter;
}

.btns{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 40px;
}
.btns i{
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
}
.btns i:nth-child(2) {
    width: 80px;
}